body {
  background: #111827;
  color: white;
  font-family: Arial, sans-serif;
}

main {
  max-width: 700px;
  margin: auto;
  padding: 30px;
}

h1 {
  font-size: 38px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin: 30px 0 20px;
}

p {
  text-align: center;
}

/* Cartes équipes */
.team-card {
  background: white;
  color: #111827;
  border-radius: 18px;
  padding: 18px 22px;
  margin: 14px 0;
  box-shadow: 0 8px 20px rgba(0,0,0,.25);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 20px;

  cursor: grab;
  transition: transform .2s ease;
}

.team-card:active {
  cursor: grabbing;
  transform: scale(1.02);
}

.rank-number {
  width: 55px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  flex-shrink: 0;
}

.team-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  flex-shrink: 0;
}

.team-card p {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}

/* Boutons */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 35px 0;
}

.validate-button,
.share-button {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.validate-button {
  background: #16a34a;
}

.share-button {
  background: #2563eb;
}

/* Titres AFC / NFC */
.conference-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
}

.conference-logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
}
.team-name {
  margin: 0;
  margin-left: 20px;
  font-size: 22px;
  font-weight: bold;
}